/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  :root {
    /* LIGHT MODE */
    --main-text: #00204A;
    --secondary-text: #005792;
    --bg-color: #D9FAFF;
    --accent-color: #00BBF0;
    --white: #fff;
  }

  [data-theme="dark"] {
    /* DARK MODE */
    --main-text: #D9FAFF;
    --secondary-text: #00BBF0;
    --bg-color: #00204A;
    --accent-color: #005792;
    --white: #fff;
  }

  .cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .libertinus-serif-regular {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libertinus-serif-semibold {
    font-family: "Libertinus Serif", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .libertinus-serif-bold {
    font-family: "Libertinus Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libertinus-serif-regular-italic {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .libertinus-serif-semibold-italic {
    font-family: "Libertinus Serif", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .libertinus-serif-bold-italic {
    font-family: "Libertinus Serif", serif;
    font-weight: 700;
    font-style: italic;
  }

  body {
    background-color: var(--bg-color);
    transition: background-color 0.5s;
    color: var(--main-text);
    transition: color 0.5s;
    margin: 0;
  }

  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--bg-color);
    transition: background-color 0.5s;
  }

  .logo-wrapper {
    height: 75px;
  }

  .logo path {
    fill: var(--main-text);
    transition: fill 0.5s;
  }
  
  /* Toggle Switch*/
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .theme-switch input {
    opacity: 0.1;
  }

  .theme-switch input:focus+.theme-switch {
    outline: var(--main-text) solid 3px;
  }

  .slider {
    background-color: var(--accent-color);
    transition: background-color 0.5s;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: var(--bg-color);
    transition: background-color 0.5s;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  input:checked + .slider {
    background-color: var(--accent-color);
    transition: background-color 0.5s;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /* Main Page Content */
  .main {
    padding: 40px;
  }

  .hero {
    background-color: var(--bg-color);
    transition: background-color 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-image-wrapper {
    max-width: 550px;
  }

  .hero-image {
    width: 100%;
    border-radius: 0;
    transition: border-radius 0.5s;
  }

  .hero-image:hover {
    border-radius: 50%;
    transition: border-radius 0.5s;
  }

  .hero-info-wrapper {
    margin-bottom: 40px;
    max-width: 550px;
  }

  .hero-info-headline {
    font-size: 48px;
    text-align: center;
    margin-bottom: 15px;
  }

  /* Footer */
  .footer {
    display: flex;
    justify-content: flex-end;
    margin: 0 40px 20px 40px;
  }

  .footer-nav-list {
    list-style-type: none;
    padding: 0;
  }

  .footer-nav-link {
    padding: 7px;
  }

  .fa-brands {
    color: var(--main-text);
  }

  /* Small Desktop Breakpoint */
  @media (min-width: 1024px) {
    /* Main Page Content */
    .main {
      height: calc(100vh - 230px);
      min-height: 650px;
    }

    .hero {
      flex-direction: row;
      justify-content: center;
      height: 100%;
    }

    .hero-image-wrapper {
      max-width: 550px;
    }

    .hero-image {
      width: 100%;
    }

    .hero-info-wrapper {
      margin-bottom: 0;
      max-width: 550px;
    }

    .hero-info-headline {
      font-size: 48px;
      text-align: center;
      margin-bottom: 15px;
    }
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

